<div class=" container">
    <div class="row">
        <div class="col-md-2 col-xl-4"></div>
        <div class="col-md-6 col-xl-4">
            <a href="#">
                <img src="./images/click_order_text.png" alt="" class="click-order-img">
            </a>
        </div>
        <div class="col-md-4">
            <div class="photo-sign-section">
                <div class="sign-btn-section">
                    <div><strong>Customer Name</strong></div>
                    <div>
                        <a href="" class="h6">Log in</a> |
                        <a href="" class="h6">Sign up</a>
                    </div>
                </div>
                <div class="photo">
                    <a href="">
                        <img src="./images/profile_placeholder.jpg" alt="" class="photo-img">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>